.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

html{
    font-family: Lato, sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}


body{
    box-sizing: border-box;
    margin: 0;
}



.main{
    margin: 0 auto;
}

.main__container{
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    max-height: fit-content;
}

.form__container{
    width: 1000px;
    padding: 20px 20px;
    margin: 0 auto;
}

.form__greeting{
    text-decoration: none;
    color: black;
}

.form__greeting:hover{
    cursor: pointer;
    text-decoration: underline;
}

.form__heading{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin: 0 auto 100px auto;
    align-items: center;

}

.form__welcome{
    margin: 0 auto 60px auto;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.signin__pair{
    display:flex;
    flex-direction: column;
    margin-bottom: 75px;
}

.signin__label{
    display:block;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 18px;
}

.signin__input{
    border: none;
    width: 370px;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ebebeba1;
    box-shadow: 5px 5px 5px #0000003d;
}

#signin__button{
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 20px;
    color: #834050;
    font-weight: bolder;
    background-color: #fedc53;
    width: 300px;
    box-shadow: 7px 7px 5px #0000003d;
}

#signin__button:hover{
    background-color: #d9be53;
}

.bg{
    width: 90%;
    max-height: -webkit-fill-available;
    background: url(/static/background_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__container .form_container{
    flex-grow: 3;
}

.main__container .bg{
    flex-grow: 2;
}

.SUportal{
    margin-top: 15%;
}
